@page "/"

<h1>Hotwire.NET demo with Razor Server-side</h1>

<section>
    <h2>Stimulus controller demo</h2>
    <div data-controller="hello">
        <input data-hello-target="name" type="text">
        <button data-action="click->hello#greet">Greet</button>
        <p data-hello-target="greeting">Please type your name and click the greet button.</p>
    </div>
</section>

<section>
    <h2>Turbo frame demo</h2>
    <turbo-frame id="" src="" target="">
        <a asp-page-handler="reload">Reload</a>
        <p>Some content</p>
    </turbo-frame>
</section>